extends layout

block content
  button#getit get

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
  script.
    $(document).ready(function() {
      $('#getit').click(function() {

        $.ajax({
          url: ,
          type: 'GET',
          contentType: 'application/json',
          success: function(data) {
           console.log(data)
          },
          error: function() {
          console.log('error with get request')
          }
        })
      })
    })
